

.scoreBoard {
	width:60px;
	height: 60px;
	text-align: right;
	font-family: "Comic Sans MS";
	font-size: 35px;
	text-shadow: 2px 2px 3px black;
}
.overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .80;
}
.startPop,  .lostPop {
	display: none;
	position: absolute;
	border-radius: 4%;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 30%;
	padding: 10px;
	border: 10px solid lightgrey;
	background-color: grey;
	z-index: 1002;
	overflow: auto;
	font-family: "Comic Sans MS";
	font-size: 25px;
	text-align: center;
	text-shadow: .5px .5px 1px black;
}

button {
	margin: 1px;
	padding: 0;
	width: 90px;
	height: 50px;
	border-radius: 10%;
	font-family: "Comic Sans MS";
	font-size: 22px;
	box-shadow: 5px 5px 5px black;	
	text-shadow: .5px .5px 1px black;
}